.stats{
  max-width: 1100px;
  margin: 80px auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}


.stat {
  flex: 1;
  text-align: center;
  padding: 0 40px;
}


.stat h2 {
  font-size: 72px;
  color: #a5a5ad;
  font-weight: 700;
  margin-bottom: 10px;
}


.stat h4 {
  font-size: 20px;
  color: #000;
  margin-bottom: 14px;
}


.stat p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}


.divider {
  width: 1px;
  height: 160px;
  background: #ddd;
}
