.slider {
  padding: 40px;
  background: #fff;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.slider-header h2 {
  font-size: 40px;
}

.categories button {
  margin-left: 20px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: gray;
}

.categories .active {
  color: black;
  font-weight: 600;
}

.slider-body {
  position: relative;
}

.nav {
  position: absolute;
  top: 45%;
  background: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
}

.nav.left {
  left: -40px;
}

.nav.right {
  right: -40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}


.card {
  background: #f3f3f3;
  padding: 25px;
  border-radius: 30px;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


.card:hover {
  transform: translateY(-12px) scale(1.04);
  box-shadow:
    0 15px 30px rgba(0, 0, 0, 0.15),
    0 0 25px rgba(0, 0, 0, 0.08);
}


.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount {
  background: black;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.rating {
  font-weight: 500;
}


.image-box {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.image-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.6s ease;
}

.img-main {
  opacity: 1;
  transform: scale(1);
}


.img-hover {
  opacity: 0;
  transform: scale(0.85) rotate(-8deg);
}

.card:hover .img-hover {
  opacity: 1;
  transform: scale(1.15) rotate(0deg);
}

.card:hover .img-main {
  opacity: 0;
  transform: scale(1.3) rotate(8deg);
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.category {
  color: gray;
  font-size: 14px;
}

.amout strong {
  font-size: 22px;
}

.amout span {
  margin-left: 10px;
  color: gray;
  text-decoration: line-through;
}