* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eee;
   border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.navbar {
  max-width: 1320px;
  margin: auto;
  padding: 18px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


.navbar-left {
  flex: 1;
}

.logo {
  width: 150px;
}

.home{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home:hover{
  color: #86c3c3;
  
}
.navbar-menu {
  flex: 2;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 28px;
}

.navbar-menu li {
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.navbar-menu li span {
  font-size: 12px;
  margin-left: 4px;
}


.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  font-size: 18px;
  cursor: pointer;
}

.account {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
}


.icon-badge {
  position: relative;
}

.icon-badge span {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #000;
  color: #fff;
  width: 16px;
  height: 16px;
  font-size: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 900px) {
  .navbar-menu {
    display: none;
  }
}
