.categories {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  background-color: white;
}

.card {
  width: 350px;
  height: 380px;
  background: #f4f4f5;
  border-radius: 16px;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.logo:hover {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.card h3 {
  margin-bottom: 4px;
}

.card p {
  font-size: 14px;
  color: gray;
}

.card img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  margin: 0 auto;
}

.card button {
  padding: 10px 22px;
  border: none;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.card button:hover {
  background: #000;
  color: #fff;
}


@media (max-width: 900px) {
  .categories {
    flex-direction: column;
    align-items: center;
  }
}