.soud {
    position: relative;
    max-width: 1450px;
    height: 500px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
}

.soud video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.soud::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 40px;
}


.small-text {
    font-size: 14px;
    opacity: 0.85;
    margin-bottom: 12px;
    letter-spacing: 1px;
}


.overlay h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: 600;
}


.overlay p {
    font-size: 16px;
    margin-bottom: 28px;
    opacity: 0.9;
}


.overlay button {
    padding: 14px 34px;
    border: none;
    border-radius: 30px;
    background: white;
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.overlay button:hover {
    background: black;
    color: white;
}
