.hero {
  position: relative;
  height: calc(100vh - 120px);
  background: url("../public/images/chokari.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
}


.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65));
  z-index: 1;
}


.hero-content {
  position: relative;
  z-index: 2;
  max-width: 650px;
  padding: 0 20px;
}


.tag {
  color: rgb(51, 157, 157);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.9;
}

.desing {
  color: rgb(134, 195, 195);
}

.desing:hover {
  color: #fff;
  text-shadow:
  2px 0 rgb(12, 0, 0),
 -2px 0 rgba(113, 213, 190, 0.405);
}

.tach {
  color: rgb(92, 108, 108);
}

.hero h1 {
  font-size: 64px;
  margin: 20px 0;
  font-weight: 700;
  line-height: 1.2;
}

.hero p {
  font-size: 17px;
  margin-bottom: 30px;
  opacity: 0.9;
}


.hero .view {
  padding: 14px 34px;
  border: none;
  border-radius: 30px;
  background: #ffffff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero .view:hover {
  background: #000;
  color: #fff;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 15px;
  }
}